#productcard-container {
  position: relative;
  overflow: hidden;

  padding: 1rem;
  border:  1px solid var(--B500);
  border-radius: 4px;

  text-overflow: ellipsis;
}

#productcard-container > span {
  display: block;
  margin-bottom: 0.5rem;

  font-weight: 700;
  color: var(--G300);
}